node_modules
dist
.git
.github
.env
.env.local
.env.development
.env.production
.env.staging
.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
nginx.conf
.dockerignore
swagger.txt
test.ps1
get_size.ps1
crop_*.ps1
pantalla_*_temp.png
